.Contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Contact-col{
    flex-basis: 48%;
    color: #676767;
}
.Contact-col h3{
    color: #212EA0;
    font-weight: 500;
    font-size: 25px;
    display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.Contact-col h3 img{
    width: 10px;
    margin-left: 10px;
}
.Contact-col p{
    max-width: 450px;
    line-height: 1.3;

}
.Contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;

}
.icons-to{
    width: 25px;
    margin-right: 10px ;
    background: #212EA0;
    border-radius: 50%;
    color: white;
    font-weight: 500;
    font-size: 20px;
}
.Contact form input, .Contact form textarea{
    display: block;
    width: 100%;
    background: #EBECFE;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
    border-radius: 10px;
}
.Contact-col span{
    display: block;
    margin: 20px 0;
    color: green;


}
@media(max-width:840px){
    .Contact{
        display: flex;
        flex-direction: column;
    }
}